html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}
h1 {
    color: blue;
}

.btn {
    background-color: light-green;
    padding: 32px 16px;
    font-size: 26px;
    color:black
}
.btn:hover {
        background-color:azure;
}

body {
    margin-bottom: 60px;
    background-image: url("medium-shot-health-workers-hospital.jpg");
    background-size: cover;
    background-repeat: no-repeat
}
