  /* Customize the size of carousel images */
.carousel-inner img {
  max-width: 100%;
  height: 50%;
  
}
/* Define custom card width */
.custom-card-width {
    width: 50px; /* Adjust the width as needed */
}

/* Set a background image */
.background-image {
    background-image: url('images (33).jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* Other styling properties */
    width: 100%;
    height: 100vh;
}



