@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Medi</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- CSS here -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/gijgo.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/slicknav.css">
    <link rel="stylesheet" href="css/style1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"   />
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
    <!-- header-start -->
   
                                                
    <!-- header-end -->
    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="slider_active owl-carousel">
            <div class="single_slider  d-flex align-items-center slider_bg_1 overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text ">
                                <span>the best medical center</span>
                                <h3>
                                    <span>Bringing health</span> <br>
                                    to the palm of your hands.
                                </h3>
                                <a href="#" class="boxed-btn5">
                                    Discover More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->
    <!-- welcome_clicnic_area_start -->
    <div class="welcome_clicnic_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="welcome_thumb">
                        <div class="thumb_1">
                            <img src="img/doc.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="welcome_docmed_info">
                        <h3>
                            Welcome To
                            <span>The Anfield Medical Clinic.</span>
                        </h3>
                        <p>Our aim is to make it easy for ordinary citizens of South Africa to get proper life saving health care at the palm of thier hands. We as The Anfield Group are making it easy for our pepople to get proper health care. We are following the proper UN Protocols and Vision to obtain such. Vision 2030 is here, free universal health care is here</p>
                        <ul>
                            <li> <i class="fa-solid fa-heart"></i> 24 Hours Health Care </li>
                            <li> <i class="fa-solid fa-person-cane"></i> Free to everyone</li>
                            <li> <i class="fa-solid fa-hand-holding-medical"></i> Quality</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- welcome_clicnic_area_end -->
    <!-- depertment_area_start  -->
    <div class="depertment_area">
        <div class="container">
            <div class="row custom_align align-items-end justify-content-between">
                <div class="col-lg-6">
                    <div class="section_title">
                        <h3>Departments</h3>
                        <p>These are the departments Anfield Medical Group Specialises in.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="depart_ment_tab mb-30">
                        <ul class="nav" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                                    @*<i class="flaticon-drugs"></i>*@
                                    <i class="fa-solid fa-pills"></i>
                                    <h4>Chronic Medication</h4>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">
                                    <i class="fa-solid fa-syringe"></i>
                                    <h4>Vaccination</h4>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
                                    <i class="fa-solid fa-vial-virus"></i>
                                    <h4>Pathology</h4>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="Astrology-tab" data-toggle="tab" href="#Astrology" role="tab" aria-controls="contact" aria-selected="false">
                                    <i class="fa fa-person-pregnant"></i>
                                    <h4>Pre-Natal Care</h4>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="dept_main_info white-bg">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <!-- single_content  -->
                        <div class="row align-items-center">
                            <div class="col-lg-5">
                                <div class="dept_thumb">
                                    
                                    <img src="img/chronic1.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="dept_info">
                                    <h3>Chronic medication always <br> available for our patients</h3>
                                    <p>Chronic medication means any drug that is prescribed to treat any disease or other condition which is determined to be permanent, persistent, or lasting indefinitely. </p>
                                </div>
                            </div>
                        </div>
                        <!-- single_content  -->
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <!-- single_content  -->
                        <div class="row align-items-center">
                            <div class="col-lg-5">
                                <div class="dept_thumb">
                                    <img src="img/vaccination1.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="dept_info">
                                    <h3>Vaccinations available <br> for all kinds of diseases</h3>
                                    <p>Immunization is a global health and development success story, saving millions of lives every year. Vaccines reduce risks of getting a disease by working with your body’s natural defences to build protection. When you get a vaccine, your immune system responds. </p>
                                </div>
                            </div>
                        </div>
                        <!-- single_content  -->
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <!-- single_content  -->
                        <div class="row align-items-center">
                            <div class="col-lg-5">
                                <div class="dept_thumb">
                                    <img src="img/Pathology1.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="dept_info">
                                    <h3>Pathologiests are available <br>at every health care facility supported by our system</h3>
                                    <p>Pathology is the medical specialty concerned with the study of the nature and causes of diseases. It underpins every aspect of medicine, from diagnostic testing and monitoring of chronic diseases to cutting-edge genetic research and blood transfusion technologies. Pathology is integral to the diagnosis of every cancer.</p>
                                </div>
                            </div>
                        </div>
                        <!-- single_content  -->
                    </div>
                    <div class="tab-pane fade" id="Astrology" role="tabpanel" aria-labelledby="Astrology-tab">
                        <!-- single_content  -->
                        <div class="row align-items-center">
                            <div class="col-lg-5">
                                <div class="dept_thumb">
                                    <img src="img/pre natal care1.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="dept_info">
                                    <h3>We will check on you <br> and the little one</h3>
                                    <p>Prenatal care refers to the medical and nursing care for women during pregnancy. The aim of prenatal care is to foresee any potential problems as early as possible. Prenatal care is provided free at public health clinics. Find out more about prenatal care or contact the Department of Health on 012 395 8000.</p>
                                </div>
                            </div>
                        </div>
                        <!-- single_content  -->
                    </div>
                </div>
            </div>

        </div>
    </div>

    @*This is the code for the booking form*@
    @* <div class="book_apointment_area">
    <div class="container">
    <div class="row justify-content-end">
    <div class="col-lg-7">
    <div class="popup_box ">
    <div class="popup_inner">
    <h3>
    Book an
    <span>Appointment</span>
    </h3>

    <form action="#">
    <div class="row">
    <div class="col-xl-12">
    <select class="form-select wide" id="default-select" class="">
    <option data-display="Please select Hospital/Clinic to visit">Please select doctor to visit </option>
    <option value="1">Anaf</option>
    <option value="2">Nayna Therapy</option>
    <option value="3">Nadif</option>
    </select>
    </div>
    <div class="col-xl-9">
    <input type="text" placeholder="Your name ">
    </div>
    <div class="col-xl-3">
    <input type="text" placeholder="Your age">
    </div>
    <div class="col-xl-6">
    <input type="text" placeholder="Phone number ">
    </div>
    <div class="col-xl-6">
    <input type="email" placeholder="Email Address">
    </div>
    <div class="col-xl-6">
    <input class="datepicker" placeholder="Appointment Date">
    </div>
    <div class="col-xl-6">
    <input class="timepicker" placeholder="Suitable time">
    </div>
    <div class="col-xl-12">
    <button type="submit" class="boxed-btn3">Make an Appointment</button>
    </div>
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>*@

    <!-- quality_area_start  -->
    <div class="quality_area">
        <div class="container">
            <div class="row justify-content-center ">
                <div class="col-lg-6">
                    <div class="section_title mb-55 text-center">
                        <h3>Quality Healthcare</h3>
                        <p>Quality of care is the degree to which health services for individuals and populations increase the likelihood of desired health outcomes.  It is based on evidence-based professional knowledge and is critical for achieving universal health coverage. As countries commit to achieving Health for All, it is imperative to carefully consider the quality of care and health services.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single_quality">
                        <div class="icon">
                            <i class="fa-solid fa-user-doctor"></i>
                        </div>
                        <h3>Private Consultations</h3>
                        <p>Your consultations will be private and confidetial. Its between you and your doctor</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_quality">
                        <div class="icon">
                            <i class="fa-solid fa-mobile-screen"></i>
                        </div>
                        <h3>Easily Access Health</h3>
                        <p>The future of health in the palm of your hands.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_quality">
                        <div class="icon">
                            <i class="fa-solid fa-hand-holding-hand"></i>
                        </div>
                        <h3>We Care</h3>
                        <p>All your health needs in the hands of our specialists.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- quality_areaend  -->
    <!-- Emergency_contact start -->
    <div class="Emergency_contact">
        <div class="Emergency_contact_inner ">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="single_emergency">
                            <div class="info">
                                <span>We are here for you</span>
                                <h3>Book Appointment</h3>
                            </div>
                            <div class="info_button">
                                <a href="#" class="boxed-btn3-white">
                                    Book Appointment
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="single_emergency align-items-center d-flex justify-content-end">
                            <div class="icon">
                                <i class="fa-solid fa-phone"></i>
                            </div>
                            <div class="info">
                                <span>Emergency Medical Care</span>
                                <h3>(+27)82 9111 or ER24 at 084 124</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Emergency_contact end -->

    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-lg-4 ">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="#">
                                    <img src="img/logo-color1.png" alt="">
                                </a>
                            </div>
                            <p class="address_text">
                                Anfield Medical Group<br> is at the forefront of technological advances<br> and bringing health care to the people..
                            </p>
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="ti-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-twitter-alt"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-dribbble"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Our Departments
                            </h3>
                            <ul class="links">
                                <li><a href="#">Vaccination</a></li>
                                <li><a href="#">Pre-Natal Care</a></li>
                                <li><a href="#">Pathology</a></li>
                                <li><a href="#">Chronic Medication</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4  col-md-6 col-lg-4">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                We’re Available
                            </h3>
                            <ul class="meting_time">
                                <li class="d-flex justify-content-between "><span>Monday - Sunday</span> <span>24 Hours</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="row">
                    <div class="bordered_1px "></div>
                    <div class="col-xl-12">
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- link that opens popup -->
    <!-- form itself end-->
    <form id="test-form" class="white-popup-block mfp-hide">
        <div class="popup_box ">
            <div class="popup_inner">
                <h3>
                    Book an
                    <span>Appointment</span>
                </h3>
                <form action="#">
                    <div class="row">
                        <div class="col-xl-12">
                            <select class="form-select wide" id="default-select" class="">
                                <option data-display="Please select doctor to visit">Please select doctor to visit </option>
                                <option value="1">Anaf</option>
                                <option value="2">Nayna Therapy</option>
                                <option value="3">Nadif</option>
                            </select>
                        </div>
                        <div class="col-xl-9">
                            <input type="text" placeholder="Your name ">
                        </div>
                        <div class="col-xl-3">
                            <input type="text" placeholder="Your age">
                        </div>
                        <div class="col-xl-6">
                            <input type="text" placeholder="Phone number ">
                        </div>
                        <div class="col-xl-6">
                            <input type="email" placeholder="Email Address">
                        </div>
                        <div class="col-xl-6">
                            <input class="datepicker" placeholder="Appointment Date">
                        </div>
                        <div class="col-xl-6">
                            <input class="timepicker" placeholder="Suitable time">
                        </div>
                        <div class="col-xl-12">
                            <button type="submit" class="boxed-btn3">Make an Appointment</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </form>
    <!-- form itself end -->
    <!-- JS here -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/ajax-form.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/scrollIt.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/nice-select.min.js"></script>
    <script src="js/jquery.slicknav.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/gijgo.min.js"></script>
    <!--contact js-->
    <script src="js/contact.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/mail-script.js"></script>

    <script src="js/main.js"></script>
    <script>
        $('.datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-calendar"></span>'
            }
        });

        $('.timepicker').timepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-clock-o"></span>'
            }
        });
        $(document).ready(function () {
            $('.js-example-basic-multiple').select2();
        });
    </script>
</body>

</html>
